services:
  postgres:
    image: postgres:15-alpine
    container_name: finance_hub_db
    restart: always
    environment:
      POSTGRES_USER: admin_finance_hub
      POSTGRES_PASSWORD: password_finance
      POSTGRES_DB: finance_hub_dev
    ports:
      - "5433:5432"   # Porta alterada para 5433 no host
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
