*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

body{
    background-color: #1f1f1f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    border-bottom: #3c3636;
}

